<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/javascript
	AddOutputFilterByType DEFLATE application/x-javascript
	AddOutputFilterByType DEFLATE text/css
</IfModule>

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteRule ^([a-zA-Z-]+)/?$ index.php?mod=$1
RewriteRule ^([a-zA-Z-]+)/([a-zA-Z-]+)/?$ index.php?mod=$1&se=$2
RewriteRule ^([a-zA-Z-]+)/([a-zA-Z-]+)/([0-9]+)/?$ index.php?mod=$1&se=$2&page=$3
RewriteRule ^([a-zA-Z-]+)/([0-9]+)/?$ index.php?mod=$1&page=$2
RewriteRule ^([berita]+)/([cari]+)/([a-zA-Z0-9-.,<>"&!]+)/?$ index.php?mod=$1&se=$2&cari=$3
RewriteRule ^([berita]+)/([cari]+)/([a-zA-Z0-9-.,<>"&!]+)/([0-9]+)/?$ index.php?mod=$1&se=$2&cari=$3&page=$4

# akses berita detail
RewriteRule ^([a-zA-Z-]+)/([a-zA-Z]+)/([0-9]+)/([a-zA-Z0-9-.,_<>()?:"'&!]+)\.html$ index.php?mod=$1&se=$2&id=$3&judul=$4

RewriteRule ^([a-zA-Z-]+)/([a-zA-Z]+)/([0-9]+)/([a-zA-Z0-9-.,_<>()?:"'&!]+)\.html/([0-9]+)/?$ index.php?mod=$1&se=$2&id=$3&judul=$4&p=$5

</IfModule>